doctype html
html(lang='en-US')
  head
    title Example Server-side Routing
  body
    h1 Apenas um show!
    #out
    if (isDev)
      script(async, src='/requirejs/require.js', data-main='/js/app')
    else
      script(async, src='/bundle.min.js')
